In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("moviereviews.tsv",sep='\t')

In [5]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...